@import "core/settings";

.body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.header {
  height: 112px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-and-contact {
	margin-top: 10px;
}

.blog {
    margin-right: 21px;
  }

a {
  text-decoration: none;
  color: #4a4a4a;
  opacity: 0.6;
  transition: 0.3s;
}

a:hover {
  color: #32decf;
}

.main {
  background: url("../images/hero-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding-left: 20px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
}

h1 {
  width: 161px;
}

.footer {
  background-color: #252525;
  color: #676a6d;
  font-size: 16px;
  margin: 0;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog, .contact {
  position: relative;
  padding-bottom: 3px;
}

// Link de donde he sacado el underline hover de los links: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #32decf;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media all and (min-width: 768px) {
  .nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main {
    font-size: 60px;
  }
}

@media all and (min-width: 1024px) {
}
