$color_h1_white: white;
$color_links_gray: #4a4a4a;
$color_links-hover_aqua: #32decf;
$color_footer-text_gray: #676a6d;
$color_background-footer_black: #252525;

$font-family_principal: "Rubik", sans-serif;
